[database]
  host        = "localhost"
  port        = "3306"
  name        = "suglider"
  user        = ""
  password    = ""
  timeout     = "5s" # Value can be 1h, 1m, 10s, 2days would be 48h.
  syntax_path = "/usr/local/app/configs/sql_syntax/dev.sql"
[redis]
  host      = "localhost"
  port      = "6379"
  password  = ""
[session]
  timeout   = "2h" # Value can be 1h, 1m, 10s, 2days would be 48h.
  path      = "/"
  http_only = true
[server]
  graceful_timeout  = 5
  read_timeout      = 5
  write_timeout     = 15
  max_header_bytes  = 2
  casbin_config     = "/usr/local/app/configs/rbac_model.conf"
  casbin_table      = "casbin_policies"
  casbin_cache      = false
  enable_rbac       = true
  enable_cors       = true
  cors_credentials  = false # if value is "true", cors_origin setting can not be wildcard *
  cors_origin       = "http://localhost:9453, http://localhost:9487"
  cors_methods      = "POST, GET, OPTIONS, PUT, DELETE"
  cors_headers      = "Origin, Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization"
  template_path     = "/usr/local/app/web/template"
  static_path       = "/usr/local/app/web/static"
  swagger_path      = "/usr/local/app/docs"
[log]
  [log.filelog]
    filename   = "/usr/local/app/logs/suglider-auth.log"
    maxsize    = 10 # in megabytes
    maxage     = 30 # in days
    maxbackups = 3
    localtime  = true
    compress   = true
  [log.syslog]
    host       = ""
    port       = 514
    protocol   = "udp"
[swagger]
  theme = "redoc" # default or redoc
