<!DOCTYPE html>
<html>
<head>
  <style type='text/css'>
    .button {
      font-family: 'Montserrat', sans-serif;
      position: relative;
      width: 125px;
      height: 30px;
      background: #2c9a3e; /* background color */
      color: #fff; /* Font color */
      margin: 0 auto;
      overflow: hidden;
      font-size: 14px;
      line-height: 30px;
      text-align: center;
      border: none;
      transition: color .1s;
      cursor: pointer;
      z-index: 1;
      border-radius: 5px;
    }
    
    .button:after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #38b74c; /* background color on hover */
      content: "";
      z-index: -2;
      transition: transform .1s;
    }
    
    .button:hover::after {
      transform: translateY(-100%);
      transition: transform .1s;
    }
    
    .button:focus, .button:active,  .button:visited{
      outline: none;
    }
    </style>
</head>
<body>
  <p>
    Hi {{.Name}},
    <br>
    <br>
    You recently requested to reset the password for your suglider account. <br>
    Click the button below to proceed.:<br>
    <br>
    <a rel="nofollow noopener noreferrer" style target="_blank" href="{{.Url}}{{.Uri}}??{{.QueryParams}}">
      <button class="button">Reset Password</button>
    </a>
    <br>
    <br>
    If you did not request a password reset, please ignore this email or reply to let us know. This password reset link is only valid for the next 24 hours.<br>
    <br>
    Thanks, the Suglider Team<br>
  </p>
</body>
</html>
